.user-list-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
}

h1 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-item label {
  font-size: 16px;
  font-weight: bold;
}

.filter-item input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.user-table {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-table-header,
.user-table-row {
  display: grid;
  grid-template-columns: 5% 20% 20% 23% 15% 10% 7%;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.user-table-header {
  background-color: #f4f4f4;
  font-weight: bold;
}

.user-table-row {
  background-color: #fff;
}

.user-table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table-header div,
.user-table-row div {
  text-align: center;
  font-size: 14px; 
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis if text overflows */
}

.user-table-row:hover {
  background-color: #cc7676;
}
